@import '../../variables.scss';

.galleryButton {
  background: #c33d2b;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  font-weight: 600;
  left: 16px;
  padding: 10px 16px;
  position: fixed;
  text-decoration: none;
  text-transform: uppercase;
  top: 16px;
  transition: opacity 300ms, transform 300ms;
  z-index: $zIndexGalleryButton;

  &:hover {
    background: #a8331f;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-10px);
  }
}
