
$zIndexHomeButton: 50;
$zIndexGalleryButton: 50;
$zIndexGithubButton: 50;
$zIndexEntryOverlay: 100;
$zIndexEntry: 200;
$zIndexHeader: 200;
$zIndexPhotoOverlay: 400;
$zIndexPhoto: 500;
$zIndexPinHover: 600;
$zIndexGalleryOverlay: 250;
$zIndexGallery: 300;
$zIndexGalleryLightboxOverlay: 350;
$zIndexGalleryLightbox: 400;
